.company {
  &__bg {
    background: url(../../assets/img/company-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 180px;
  }

  &__info {
    padding: 40px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;

    &__left {
      &-text {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        text-align: left;
        color: rgba(168, 168, 168, 0.65);
      }

      &-title {
        font-family: Poppins;
        font-size: 32px;
        font-weight: 400;
        line-height: 35.2px;
        text-align: left;
        color: rgba(255, 44, 44, 1);
        padding: 20px 0px;
      }

      &-desc {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: rgba(0, 0, 0, 1);
        padding-bottom: 20px;
      }

      &-texts {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }

    &__right {
      img {
        width: 100%;
      }
    }

    &__bottom {
      display: flex;
      flex-direction: column;
      gap: 20px;

      &-text {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  &__swiper {
    position: relative;
    padding: 20px 0;
    background: rgba(245, 245, 245, 1);
    margin: 40px 0px;

    &__top {
      text-align: left;
      margin: 20px 0px;

      &__title {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        color: rgba(0, 0, 0, 1);
      }
    }

    .company-swiper {
      padding: 20px 0;
      height: 450px;

      &__card {
        img {
          margin: 0 !important;
          padding: 0 !important;
          height: 100%;
          width: 100%;
          border: 2px solid #ddd;
          border-radius: 10px;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }
      }
    }

    .company-swiper-pagination {
      margin-top: 10px;
      text-align: center;

      .swiper-pagination-bullet {
        background: #aaa9;
        opacity: 0.7;

        &.swiper-pagination-bullet-active {
          background: black;
          opacity: 1;
        }
      }
    }

    .company-swiper-buttons {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      z-index: 10;

      button {
        background: #000;
        color: #fff;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

        &:hover {
          background: red;
        }
      }
    }
  }
}